<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Nubank - O melhor do futuro para você</title>
</head>
<link href="styles/styleHome.css" rel="stylesheet"/>
<link href="images/iconeNubank.png" rel="icon" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="scripts/script.js"></script>

<body>
    <header>
        <div id="divHeader">
            <img src="images/logo-nubank-roxo-1024.png" width="100px" height="90px" style="margin-right: 3rem;"/>
            <span style="
                font-size: 18px;
                color: rgb(182, 179, 179);
                margin-right: auto;
                border-left: 1px solid lightgrey;
                padding: 2px 0 2px 20px;
                font-family:sans-serif;"> O melhor do Brasil para você
            </span>
            <section id="sectionHeader">
                <span class="spanHeader" style="border-left: 1px solid lightgrey;padding-left: 50px;">Login</span>
                <span class="spanHeader">Sign-in</span>
            </section> 
        </div>
    </header>

    <main ng-app="appMain" ng-controller="controllerMain">
        <div id ="firstVision">
            <div id =textFirstVision>
                <span style="color: #fff;font-size: 42px;">Experimente agora a Nubank</span>
                <p style="color: #fff; font-size: 20px;padding-top: 10px;">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas</p>
            </div>
            <div id="divForm">
                <span style="font-size: 20px;color: black;font-weight: 500;">Cadastra-se agora</span><br>
                <form name="formRegister">

                    <input 
                        type="text" ng-model="cliente.numConta" placeholder=" Numero Conta" 
                        ng-required="true" name="textNumConta" ng-minlength="5" ng-maxlength="5" >

                        <p ng-show="formRegister.textNumConta.$error.required&&formRegister.textNumConta.$touched" class="textRequired">
                            *Campo [nº Conta] obrigatório
                        </p>
                        <p ng-show="formRegister.textNumConta.$error.minlength" class="textRequired">
                            *Quantidade mínima de caracteres [5]
                        </p>
                        <p ng-show="formRegister.textNumConta.$error.maxlength" class="textRequired">
                            *Quantidade máxima de caracteres [5]
                        </p>
                    <br><!--Finish numero conta-->

                    <select ng-model="cliente.numAgencia" ng-options="agc for agc in agencia" 
                        ng-required="true" name="selectAgencia" >
                            <option value="">Selecione Agência</option>
                        </select>
                        <p ng-show="formRegister.selectAgencia.$error.required&&formRegister.selectAgencia.$touched" 
                        class="textRequired">
                            *Campo obrigatório [agência]
                        </p>
                    <br><!--Finish agencia-->
                

                    <input type="text" ng-model="cliente.nome" placeholder="Nome" ng-required="true"
                    name="textNome" ng-minlength="3">
                        <p ng-show="formRegister.textNome.$error.required&&formRegister.textNome.$touched" 
                        class="textRequired">
                            *Campo obrigatório [nome]
                        </p>
                        <p ng-show="formRegister.textNome.$error.minlength" class="textRequired">
                            *Mínimo de caracteres [3]
                        </p>
                    <br><!--Finish nome-->
                    
                    <select ng-model="cliente.tipoDeConta" ng-options="tipo for tipo in tipoConta"
                        name="selectConta" ng-required="true">
                        <option value="">Tipo da Conta</option>
                    </select>
                        <p ng-show="formRegister.selectConta.$error.required&&formRegister.selectConta.$touched" class="textRequired">
                            *Campo obrigatório [tipoConta]
                        </p>
                    <br><!--Finish tipo conta-->

                    <input type="text" ng-model="cliente.saldo" placeholder="Saldo" ng-required="true"
                        name="textSaldo">
                        <p ng-show="formRegister.textSaldo.$error.required&&formRegister.textSaldo.$touched" class="textRequired">
                            *Campo obrigatório [saldo] 
                        </p>
                    <br><!--Finish saldo-->
            
                    <input type="button" ng-disabled="formRegister.$invalid" ng-click="confirmarCadastro(cliente)"
                    class="controllButton" value="Cadastrar"/>
                    <br>
                    <input type="button" ng-hide="formRegister.$pristine&&formRegister.$touched" ng-click="limparDados()" class="controllButton" value="Limpar Dados"/>

                </form>
            </div>
            </div>
        <div id="secondVision">
            <p style="color: #fff;padding: 17rem 12rem;font-size: 20px;line-height: 2rem;">
                <span style="color: #fff;font-size: 42px;">Faça um plano Nubank 
                para a sua empresa</span><br>
                Receba benefícios que irão alavar o  seu negócio. Menos burocracia e
                mais lucro!
            </p>
        </div>
        <div id="thirdVision">
            <div id="textThirdVision">
                <p style="line-height: 2rem;">
                   <span style="font-size:40px">Peça já o seu roxinho</span><br>
                    Aproveite todas as vantagens de fazer parte da família Nubank
                </p>
                <p style="align-self: flex-end;line-height: 2rem;">
                    <span style="font-size:40px;">Moderno, simples, gratuito</span><br>
                    Tudo aquilo que você precisa para ficar no controle
                </p>
            </div>

        </div>
        <!-- <div id="divTable">
            <h2>Clientes cadastrados</h2>
            <table>
                <tr>
                    <th><a ng-click="orderFor('numConta')">Conta</a></th>
                    <th><a ng-click="orderFor('numAgencia')">Agência</a></th>
                    <th><a ng-click="orderFor('nome')">Nome</a></th>
                    <th><a ng-click="orderFor('tipoDeConta')">Tipo Conta</a></th>
                    <th><a ng-click="orderFor('saldo')">Saldo</a></th>
                    <th><a ng-click="orderFor('criadoEm')">Criado em</a></th>
                </tr>
                <tr ng-repeat="cliente in clientes|orderBy:typeOrder:order">
                    <td>{{cliente.numConta}}</td>
                    <td>{{cliente.numAgencia}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.tipoDeConta |uppercase}}</td>
                    <td>{{cliente.saldo | currency: 'R$ '}}</td>
                    <td>{{cliente.criadoEm | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button ng-click="deleteClient(cliente, clientes)">X</button>
                    </td>
                </tr>
            </table>
        </div>-->

    </main>
</body>
<footer>
    <section>

    </section>
        <table style="border-bottom: 1px solid rgb(29, 29, 29);">
            <tr>
                <th>Nubank</th>
                <th>Produtos</th>
                <th>Explore</th>
                <th>Veja também</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Sobre nós</li>
                        <li>Carreiras</li>
                        <li>Perguntas Frequentes</li>
                        <li>Contato</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Conta digital</li>
                        <li>Cartão de crédito</li>
                        <li>Rewards</li>
                        <li></li><li></li><li></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Comunidade</li>
                        <li>Blog</li>
                        <li>México</li>
                        <li>Colombia</li>
                        <li>Argentina</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Auxílior emergencial e FGTS</li>
                        <li>Tudo sobre PIX</li>
                        <li></li>
                        <li></li><li></li>
                        <li></li>
                        <li></li><li></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Transparência</th>
                <th>Ouvidoria</th>
                <th>Fale com a gente</th>
                <th>Baixe o APP</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>Política de Privacidade</li>
                        <li>Política de Compliance</li>
                        <li>Contratos</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>0800 608 6236</li>
                        <li>meajuda@nubank.com.br</li>
                        <li>Atendimento 24h</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>0800 997 0463</li>
                        <li>ouvidoria1@nubank.com</li>
                        <li>Atendimento das 8hr às 17h</li>
                    <ul>
                </td>
                <td>
                    <ul>
                        <li><img src="./images/google-play.png" width="170px"></li>
                        <li><img src="./images/app-store.png" width="170px"></li>
                    </ul>
                    
                </td>
            </tr>
        </table>
    <div style="
        display: flex;
        align-items: center;
        justify-content: 
        space-between;
        padding:4% 5%;
        border-bottom: 1px solid rgb(29, 29, 29);">
        <section id="finalSection">
            <img src="./images/logoEnd.png" width="70px" style="padding-right: 3rem;">
            <p>© 2022  Nu Pagamentos S.A.  18.154.824/0001-34<br>
                Rua Avenida Santa Cruz, 26 - Rio de Janeiro, RJ - 06211-000
            </p>
        </section>
        <section style="width: 18rem;display: flex;justify-content: space-around;">
            <a href="https://www.facebook.com/nubank" target="_blank"><img src="./images/social_icone_1.png" width="35px"></a>
            <a href="https://www.instagram.com/nubank/" target="_blank"><img src="./images/social_icone_2.png" width="35px"></a>
            <a href="https://www.linkedin.com/company/nubank/" target="_blank"><img src="./images/social_icone_3.png" width="35px"></a>
            <a href="https://www.youtube.com/nubank" target="_blank"><img src="./images/social_icone_4.png" width="35px"></a>
            <a href="https://twitter.com/nubank" target="_blank"><img src="./images/social_icone_5.png" width="35px"></a>
        </section>

    </div>
    
</footer>
</html>
