*{
    padding: 0;
    margin: 0 ;
    font-family: sans-serif,Verdana, Geneva, Tahoma;
    
}
header{ 
    position: fixed;
    width: 100%;
    height: 4rem;
    top:0;
    align-items: center;

    background: rgb(255, 255, 255);
    border: 1px solid lightgrey;  
}
#divHeader{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 8%;
}

.spanHeader{
    color: #652a7e;
    font-size: 18px;
    padding: 2px 20px 2px 20px;
}
.spanHeader:hover{
    text-decoration: underline;
    cursor: pointer;
    color:#441e55;
}
main{
    margin-top: 3rem;
}
body{
   
}
h1{
    padding-top: 30px;
    color: #fff;
    text-align: center;
}
#firstVision{
    display: flex;
    align-items: center;
    padding:1rem  5% ;
    height: 100vh; 
    background-image: linear-gradient(160deg,#743191,#652a7e);
}
#textFirstVision{
    width: 47%;
    margin: auto;
    height: 10rem;
}

#secondVision{ 
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("secondVisionBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align:start;
}
#thirdVision{
    height: 100vh;

    background-image: url('../images/débito-conta-PJ-Nubank-grid.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#textThirdVision{
    height: 80vh;
    padding: 6%;
    color: rgb(0, 0, 0);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
   
}

#divForm{
    margin: 50px auto;
    width: 500px;
    padding: 1.5rem;
    text-align: center;
    background: #fff;  
    border: 1px solid transparent;
    border-radius: 20px; 
}

form{
    width: 16rem;
    margin: .8rem auto;
}
input[type=text], select{
    margin: .8rem 0;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom:1px solid lightgray;
   
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color:rgb(95, 95, 95) ;
    
}

.controllButton{
    width: 100%;
    padding: 8px;
    margin: 20px 10px 5px 10px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: rgb(223, 219, 219);
    color:rgb(95, 95, 95);
    font-weight: 600;
}
.controllButton:hover:enabled {
    cursor: pointer;
    background: #712f8d;
    color: #fff;
    font-weight: 700;
}
.controllButton:disabled{
    color: rgb(177, 175, 175);
    background:rgb(236, 235, 235); ;
    cursor:no-drop;
}

.textRequired{
    font-size: 11px;
    color: red;
}
h2{
    margin: 0 1rem 2rem 1em;
    text-align: center;
    color:#fff;
    padding: 10px;
    border-top: 1px solid rgb(153, 151, 151);
    border-bottom:  1px solid rgb(153, 151, 151);
    
}/*
table{
    margin:auto ;
    text-align: center;
    width: 95%;
}
th,td{
    border: 1px solid rgb(31, 30, 30);
    border-radius: 10px;
}
th{
    padding: 10px;
    background: #272333;
    color:#fff;
}
th:hover{
    filter: brightness(90%);
    cursor: pointer;
}
td{
   
    padding: 5px;
    background: #f1f5ca;
}*/
table{
    width: 100%;
    text-align: center;
    padding: 5% 10rem;
    font-size: 16px;
   
}
li,th{
    padding: 10px;
}
th,li{
    text-align: start;
}
li{
    list-style-type: none;
    font-weight: 600;
}
th{
    font-weight: 500;
    color: rgb(206, 206, 206);
}
footer{
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(15, 15, 15);
    color: #fff;
}